div#hdtbSum,
#hdtb div,
.sfbgg,
.minidiv .sfbg{
    background-color: #25272a !important;
}

/*Search*/
.RNNXgb,
.sbibod,
.sbib_a{
    background: #25272a;
    border:1px solid !important
}

.aajZCb {
    background-color: #25272a !important;
    border: 1px solid ;
    border-top: none;
}
.xtSCL {
    border-top: none;
}
li.sbct div,
.gLFyf,
h2{
    color:white !important;
}
input{
    color:white !important;
        background-color: #25272a;
}
.kno-ftr {
    margin-right: 0px;
}
li.sbhl{
    background-color: #39424a !important
}
.kp-blk,
.cv2VAd,
#hdtb{
    border:none;
}
div,
#brs .med,
.Ywxp6b,
.Ss2Faf,
span.LrzXr.kno-fv{
     color:white;
}
html,
div#cnt,
#fbar{
    background-color:#222 !important;

}
.fbar span {
    color: white;
}
#foot .AaVjTc .YyVfkd,
#hdtb-msb .hdtb-mitem.hdtb-msel{
    color: white;
}

g-inner-card,
.kp-blk.EyBRub.knowledge-panel.Wnoohf.OJXvsb{
    background-color:#25272a !important;
    border:1px solid white !important;
}
 .related-question-pair .g  {
    background-color:transparent !important;
    border:none !important;
}
 .g{
    background-color:#25272a;
    border: 10px solid #25272a;
    width:650px;
}
.nrgt{
    margin-left: 0px;
    width:60px;
}

.ifM9O {
        background-color:#25272a !important;
}
 .related-question-pair > div.rc {
        background-color:transparent !important;
}

.g {
    margin-bottom:15px !important;
}
.GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover{
        background-color:#25272a !important;
        
}
.action-menu .mn-dwn-arw {
    border-color: #b0b0b0 transparent;
}
.xcQxib .eadHV .NdbWE .YBEXSb {
    color:white !important;
}

div .fbar .smiUbb span {
    color:white !important;
}
em {
    color:yellow !important;
}
.w8qArf .fl,
.garHBe{
    color: white !important;
}

a ,
g-more-link span,
.xXEKkb{
    color: #4183c4 !important;
}
#hdtb-tls:hover{
    background-color: #333 !important;
}
a.q.qs,
#hdtb .hdtb-mitem a,
#hdtb-msb #hdtb-tls,
cite{
    color:#b0b0b0 !important;
}
.Ftghae span {
    color:white !important;
}

.y8Jpof:hover{
    background:none !important;
}