html {
    background-color: #25272a !important;
}

body  {
    color: #fff !important;
    background-color: unset;
}

/* google.com button */
.jhp input[type="submit"] {
    background-image: none !important;
}
/* map widget in search result */

.vk_c,
.vk_cxp,
.yyjhs {
    background-color: unset !important;
}
.uMdZh:hover {
    background-color: #39424a !important;
}

.dbg0pd {
    color: white !important;
}

/* People also Ask & People also search for */
.cbphWd,
.mod,
.iOBnre,
.ep3ODe .V2Zq0e,
.eJ7tvc {
    color: white !important;
}

.MXl0lf,
.MXl0lf:hover {
    background-color: #25272a;
}

/* first result/ preview big text */
.Z0LcW {
    color: white;
}
/* view 10+ more page https://www.google.com/search?sa=X&hl=en&sxsrf=ALeKk02oDcIw58SaccCYdQ1gRNX1MBiYxg:1588901797453&q=Financial+index&stick=H4sIAAAAAAAAAONgFuLQz9U3MIo3L1GCs7REspOt9JPzc3Pz86xS8svzyhOLUopXMUoBxXJyUpNLMvPz9HMTi7JTS-Iz81JSK1KLF7Hyu2XmJeYlZybmKIDFdrAyAgDSD95vXgAAAA&ved=2ahUKEwjiiuG5kKPpAhUME8AKHUInAA8QzTooATAjegQIDxAC&biw=2327&bih=1188&dpr=1.1*/
/* - cards at top */
.ABd7Db {
    background-color: transparent;
}

.ANCoQe {
    background-color: #404452;
    color: white !important;
}

.kLhEKe {
    background-color: unset;
}

/* Maps */
/* - top bar */
#rllhd__fldhc {
    background-color: unset !important;
}

/* - dropdown */
.czHJJ {
    background-color: #25272a !important;
}
.w3RMhb:hover {
    background-color: #39424a !important;
}
.w3RMhb .zFsEvf {
    color: white;
}
/* - businesses items */
.rllt__local-item-selected {
    background-color: #39424a !important;
}
/*apps gallery dropdown*/
/*
.EHzcec {
    background: #25272a !important;
    box-shadow: unset;
}

.EHzcec span {
    color: white;
    background-color: transparent !important;
}
.EHzcec li a:hover {
    background-color: #39424a !important;
}
.Rq5Gcb {
    color:white !important;
}
*/
div#hdtbSum,
#hdtb div,
.sfbgg,
.minidiv .sfbg {
    background-color: #25272a !important;
}

/*Search and dropdown*/
.RNNXgb,
.sbibod,
.sbib_a,
.zthhpf,
.lV0vqc,
.sbsb_a {
    background: #25272a;
    border: 1px solid white !important;
}

.aajZCb {
    background-color: #25272a !important;
    border: 1px solid;
    border-top: none;
}

/*search dropdown segregater */
.xtSCL,
.fNHVKc,
.lV0vqc {
    border-top: none !important;
}

li.sbct div,
.gLFyf,
.E2oEG div,
h2 {
    color: white !important;
}

/*search dropdown highlight */
li.sbhl,
.Vwmzxb,
.sbsb_d {
    background-color: #39424a !important;
}
.kp-blk,
.cv2VAd,
#hdtb {
    border: none;
}
#brs .med,
.Ywxp6b,
.Ss2Faf,
span.LrzXr.kno-fv {
    color: white;
}
div#cnt,
#fbar {
    background-color: #25272a !important;
}
.fbar span {
    color: white;
}
#foot .AaVjTc .YyVfkd,
#hdtb-msb .hdtb-mitem.hdtb-msel {
    color: white;
}

g-inner-card,
.kp-blk.EyBRub.knowledge-panel.Wnoohf.OJXvsb {
    background-color: #25272a !important;
}

g-inner-card {
    border: 1px solid white !important;
}
.related-question-pair .g {
    background-color: transparent !important;
    border: none !important;
}
.g {
    background-color: #25272a;
    border: 10px solid #25272a;
    width: 650px;
}
.nrgt {
    margin-left: 0px;
    width: 60px;
}

.ifM9O {
    background-color: #25272a !important;
}
.related-question-pair > div.rc {
    background-color: transparent !important;
}

.g {
    margin-bottom: 15px !important;
}
.GHDvEf,
.GHDvEf:hover,
.GHDvEf.selected,
.GHDvEf.selected:hover {
    background-color: #25272a !important;
}
.action-menu .mn-dwn-arw {
    border-color: #b0b0b0 transparent;
}
.xcQxib .eadHV .NdbWE .YBEXSb {
    color: white !important;
}

.sfbg {
    background-color: transparent !important;
}

.f3LoEf {
    color: unset !important;
}

.IsZvec{
    color: white !important;
}

div .fbar .smiUbb span,
.s,
.ep3ODe.J0Tv0e,
.LXqMce {
    color: white !important;
}

#extabar,
#appbar {
    background-color: transparent !important;
    color: white;
}

em {
    color: yellow !important;
}

.w8qArf .fl,
.garHBe {
    color: white !important;
}

a,
g-more-link span,
.xXEKkb {
    color: #4183c4 !important;
}

a.q.qs,
#hdtb .hdtb-mitem a,
#hdtb-msb #hdtb-tls,
cite {
    color: #b0b0b0 !important;
}

.cEPPT {
    border: none;
}

/*top nav bar */
.rQEFy {
    color: white !important;
}

.ndYZfc a,
.PAYrJc div {
    color: #b0b0b0 !important;
}

.Ftghae span,
.hb8SAc {
    color: white !important;
}

.y8Jpof:hover {
    background: none !important;
}

.cJzOGc {
    color: #bdbdbd !important;
}

/*images page*/
.JSAgYe {
    color: white !important;
}

.Lj9fsd {
    background: transparent !important;
}

.gBPM8 .PNCib {
    background-color: #141518 !important;
}
/*   Tools drop down */
.qcTKEe {
    background-color: transparent !important;
}

.Hm7Qac:hover {
    background-color: #39424a !important;
}

.Ix6LGe {
    background-color: #25272a !important;
}

.r9PaP,
.igM9Le {
    color: white !important;
}

.XD1Bsc,
.XD1Bsc:hover,
.ZXJQ7c:hover,
#hdtb-tls:hover {
    background: transparent !important;
    background-image: none !important;
}

.jZWadf,
header {
    background-color: #25272a;
}

.WGvvNb {
    color: white;
}

.sMi44c:hover div {
    color: #4183c4 !important;
}

.F9PbJd {
    background-color: #25272a;
    border: none;
}

RScZKc {
    color: white !important;
}
.dPO1Qe {
    color: white !important;
}

.W8wzH {
    color: unset !important;
}

/*safe search*/
.jq2rAe {
    background-color: #25272a;
}
.jq2rAe li:hover {
    background-color: #39424a;
}

/* settings dropdown */
.cF4V5c {
    background-color: #25272a;
}
.cF4V5c a {
    color: white !important;
}
.cF4V5c a:hover {
    background-color: #39424a;
}
scrolling-carousel {
    background-color: #111;
    margin-bottom: 10px;
}
scrolling-carousel div span div a:hover {
    background-color: #39424a;
}

/* Maps */
/* Invert Map */
.gm-style {
    filter: invert(1) saturate(1.4);
}

/* scroll bar */

::-webkit-scrollbar {
    max-width: 10px !important;
    max-height: 10px !important;
    background: #1d1d1d !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: #1d1d1d !important;
}

::-webkit-scrollbar-thumb {
    background: rgba(175, 175, 175, 0.5) !important;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(65, 131, 196, 0.8) !important;
}

:root {
    scrollbar-color: rgba(175, 175, 175, 0.5) #1d1d1d !important;
    scrollbar-width: thin !important;
}

/* Weather Widget */
.vk_gy {
    color: unset !important;
}
.vk_bk {
    color: White !important;
}
.wob_ds {
    background-color: transparent !important;
}

/* Dictionary Widget */
.uUoqX,
.vTBzab,
.YfpbIe,
.E8O4U,
.gJBeNe {
    color: white !important;
}
.K5fD7e {
    color: #cacaca !important;
}

/* News Page */
.JheGif,
.nDgy9d {
    color: #4183c4 !important;
}
.Y3v8qd,
.isfR2,
.XTjFC {
    color: white !important;
}

/* Top Stories */
.tYlW7b > span {
    color: #70757a !important;
}

/* Books */

.cmlJmd {
    color: white !important;
}


/* Side info widget  https://www.google.com/search?sxsrf=ALeKk00dygSsyL1dGVx2xc69LraPD_eXUg%3A1602331733470&source=hp&ei=VaSBX82bGcesadHqn7gB&q=ham&oq=ham&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIFCAAQkQIyBQgAEJECMggILhCxAxCDATIOCC4QsQMQgwEQxwEQowIyCwguELEDEMcBEKMCMggILhCxAxCDATIICAAQsQMQgwEyCAguELEDEIMBMggIABCxAxCDAToKCC4QxwEQrwEQJ1DlJFiKJmDsJmgAcAB4AIABd4gB4QGSAQMwLjKYAQCgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiNmqHu_qnsAhVHVhoKHVH1BxcQ4dUDCAg&uact=5*/ 
.LpN4Jc,.AYBNrd,.JuE4Vc {
    background-color: transparent !important;
}

.LN9Pb {
    background-color: #25272a !important;
}

/* dictionary widget */

.kp-blk {
    background: transparent !important;
}

#tl_select {
    color: black !important;
}


/* translate widget */

#tw-target {
    background: transparent !important;
}

.zaokob {
    background: #25272a !important;
}

#tw-source-rmn, 
#tw-source-text-ta,
.language_list_item,
.tw-lp-search, 
#tw-target-rmn.tw-data-text,
#tw-ob:not(.tw-ets) #tw-target .tw-data-placeholder {
    color: white !important;
}

.z1asCe svg {
    fill: white !important;
}

.tw-lliw:hover, .tw-lliw:focus{
    background: #39424a !important;
}